<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Line View.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C9F9AB61C6FA8F500B96774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9F9ACA1C6FA8F600B96774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9F9AD51C6FA8F600B96774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
